/*
 * memos.css: 
 *    Styles for 'Memos' go in this file 
 */

/* Nothing yet */

.lyrics {
    margin-left: 3em;
    font-style: italic;
}

.attribution  {
    font-size: smaller;
}

.row{
  margin-top: 10px;
  margin-bottom: 10px
}

.memo {
   border-width: 2px;
   border-top: 2px black solid;
}


#submit {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



#submit:hover {
    border: none;
    background:skyblue;
    box-shadow: 0px 0px 1px #777;
}

#delete {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



#delete:hover {
    border: none;
    background:darkred;
    box-shadow: 0px 0px 1px #777;
}

label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}