<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

<!-- 'viewport' is used by bootstrap to respond to device size -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Javascript:  JQuery from a content distribution network (CDN) -->
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap includes javascript and css  (must follow jquery) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
<script
    src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js">
</script>

<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/memos.css" />






</head>
<body>
<div class="container">
<h1>Create a Memo</h1>

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="row">
  <form method="POST" action="/_update">
  <div class="input-group date" id="datepicker" class="input-group date" data-date-format="mm/dd/yyyy">
    <input name="memoDate" class="form-control" type="text" readonly />
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  </div>
  <div class="col-md-10">
    <textarea name="memoText" rows="10" cols="50">{{ session.memo.text }}</textarea>
  </div>
</div>
<div class="row">
  <div>
        <input type="hidden" name = "ObjectID" value= "{{ session.memo._id }}"/>
  </div>
  <div class="col-xs-2 text-left">
        <input type="submit" id="submit" value="Save Changes" />
      </form>
  </div>
  <div class="col-xs-2 text-left">
      <form method="POST" action="/_delete">
        <div>
            <input type="hidden" name = "ObjectID" value= "{{ session.memo._id }}"/>
        </div>
        <input type="submit" id="delete" value="Delete Memo" />
      </form>
  </div>
  <div class="col-xs-2 text-left">
    <form method="GET" action="/index">
        <input type="submit" id="submit" value="Cancel" />
    </form>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker({
            autoclose: true
        }).datepicker('update', new Date());;
        $("#datepicker").datepicker("setDate", "{{ session.memo.date }}");
    });
</script>

</div>
</body>
</html>
