<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Memos</h1>

{% if session.memos %}
    {% for memo in session.memos %}
  <form method="POST" action="/_edit">
  <div class="memo">
  <div class="row">
  <div class="col-md-2 text-left">
    {{ memo.date | humanize}}
  </div>
  <div class="col-md-10 text-left">
    {{ memo.text }}
  </div>
  <div class="col-xs-6 text-right">
    <input type="submit" id="submit" value="Edit" />
  </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  </form>
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}

<div class="row">
  <div class="col-xs-6 text-left">
    <form method="GET" action="/create">
        <input type="submit" id="submit" value="Add New Memo" />
    </form>
  </div>
  <div class="col-xs-6 text-right">
    <form method="POST" action="/_clear">
        <input type="submit" id="delete" value="Delete ALL Memos" />
    </form>
  </div>
</div>

 

</div> <!-- container -->
</body>
</html>
